/* Tailwind custom variables */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500&display=swap");

:root {
  --color-primary: #4d4d4d;
  --color-secondary: #9f938b;
  --color-black: #000000;
  --color-accent: #948282;
  --color-white: #ffffff;
  --color-primary-50: rgba(77, 77, 77, 0.5);
  --color-gray: #a9a9a9;
  --color-light-accent: #bfabab;
  --color-light-gray: #d9d9d9;

  --font-lato-light: "Lato", sans-serif;
  --font-lato-regular: "Lato", sans-serif;
  --font-poppins-light: "Poppins", sans-serif;
  --font-poppins-regular: "Poppins", sans-serif;
  --font-poppins-medium: "Poppins", sans-serif;
}
