/* Tailwind custom variables */

:root {
  --color-primary: #4d4d4d;
  --color-secondary: #9f938b;
  --color-black: #000000;
  --color-accent: #948282;
  --color-white: #ffffff;
  --color-primary-50: rgba(77, 77, 77, 0.5);
  --color-gray: #a9a9a9;
  --color-light-accent: #bfabab;
  --color-light-gray: #d9d9d9;
  --color-background-light: #f6f6f5;

  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;
}

/* Font sizes */
.text-10px {
  font-size: 10px;
}
.text-11px {
  font-size: 11px;
}
.text-14px {
  font-size: 14px;
}
.text-16px {
  font-size: 16px;
}
.text-18px {
  font-size: 18px;
}
.text-20px {
  font-size: 20px;
}
.text-28px {
  font-size: 28px;
}

/* Text colors */
.text-gray {
  color: var(--color-gray);
}
.text-accent {
  color: var(--color-accent);
}

body {
  background-color: var(--color-white);
  color: var(--color-primary);
}

button {
  font-family: var(--font-lato-regular), serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
